In [ ]:
# mount the drive content to google colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
import numpy as np
from numpy.linalg import norm

In [ ]:
# read the dataset saved in google drive
df = pd.read_csv("/content/drive/MyDrive/project22.csv")
df = df.fillna(0)

In [ ]:
df

,Item Id,Name,Price,Quntatiy 1,Tot sales this month (1),Quntatiy 2,Tot sales this month (2),Quntatiy 3,Tot sales this month (3),Tot Quntatiy For 3 month,Tot sales For 3 month
0,1,Chicken Pie (L),125,8,1000,10,1250,9,1125,27,3375
1,2,Chicken Pie (M),110,18,1980,30,3300,23,2530,71,7810
2,3,Chicken Pie (S),85,0,0,2,170,1,85,3,255
3,4,Meat Pie (M),105,1,105,3,315,2,210,6,630
4,5,Meat Pie (S),80,1,80,2,160,1,80,4,320
5,6,Salami Pie (L),120,2,240,0,0,0,0,2,240
6,7,Salami Pie (M),100,1,100,1,100,0,0,2,200
7,8,Sauces Pie (L),120,0,0,2,240,1,120,3,360
8,9,Sauces Pie (S),75,1,75,0,0,1,75,2,150
9,10,Pastrama Pie (L),120,8,960,6,720,2,240,16,1920
10,11,Pastrama Pie (M),125,25,3125,30,3750,19,2375,74,9250
11,12,Pastrama Pie (S),110,2,220,4,440,3,330,9,990
12,13,Sausage Pie (L),120,7,840,2,240,2,240,11,1320
13,14,Sausage Pie (M),130,28,3640,40,5200,14,1820,82,10660
14,15,Sausage Pie (S),85,20,1700,7,595,18,1530,45,3825
15,16,Tuna Pie (L),120,1,120,1,120,0,0,2,240
16,17,Tuna Pie (M),100,3,300,1,100,2,200,6,600
17,18,Tuna Pie (S),80,1,80,1,80,0,0,2,160
18,19,Sea Fruits Pie,120,1,120,0,0,0,0,1,120
19,20,Mushroom Pie (M),80,0,0,0,0,1,80,1,80
20,21,Mushroom Pie (S),65,0,0,1,65,0,0,1,65
21,22,Super Supreme Pie,110,5,550,6,660,7,770,18,1980
22,23,Mix Cheese (L),135,25,3375,30,4050,21,2835,76,10260
23,24,Mix Cheese (M),110,6,660,2,220,4,440,12,1320
24,25,Mix Cheese (S),85,10,850,12,1020,11,935,33,2805
25,26,Mix Meat Cheese (L),125,4,500,3,375,3,375,10,1250
26,27,Mix Meat Cheese (M),105,10,1050,5,525,2,210,17,1785
27,28,Mix Meat Cheese (S),85,6,510,5,425,5,425,16,1360
28,29,Chicken Rocket,55,30,1650,45,2475,18,990,93,5115
29,30,Sausage Rocket,55,10,550,7,385,4,220,21,1155
30,31,Hawashi alexandrain,50,61,3050,83,4150,58,2900,202,10100
31,32,Chicken Pasta,70,297,20790,403,28210,196,13720,896,62720
32,33,Zinger Pasta,80,198,15840,252,20160,135,10800,585,46800
33,34,Seafood Pasta,110,2,220,2,220,2,220,6,660
34,35,Sausage Pasta,65,15,975,17,1105,12,780,44,2860
35,36,Crispy Pasta,80,8,640,20,1600,18,1440,46,3680

In [ ]:
df["Tot Quntatiy For 3 month"].max()

896

In [ ]:
arr = df.to_numpy()

In [ ]:
arr

array([[1, 'Chicken Pie (L)', 125, 8, 1000, 10, 1250, 9, 1125, 27, 3375],
       [2, 'Chicken Pie (M)', 110, 18, 1980, 30, 3300, 23, 2530, 71,
        7810],
       [3, 'Chicken Pie (S)', 85, 0, 0, 2, 170, 1, 85, 3, 255],
       [4, 'Meat Pie (M)', 105, 1, 105, 3, 315, 2, 210, 6, 630],
       [5, 'Meat Pie (S)', 80, 1, 80, 2, 160, 1, 80, 4, 320],
       [6, 'Salami Pie (L)', 120, 2, 240, 0, 0, 0, 0, 2, 240],
       [7, 'Salami Pie (M)', 100, 1, 100, 1, 100, 0, 0, 2, 200],
       [8, 'Sauces Pie (L)', 120, 0, 0, 2, 240, 1, 120, 3, 360],
       [9, 'Sauces Pie (S)', 75, 1, 75, 0, 0, 1, 75, 2, 150],
       [10, 'Pastrama Pie (L)', 120, 8, 960, 6, 720, 2, 240, 16, 1920],
       [11, 'Pastrama Pie (M)', 125, 25, 3125, 30, 3750, 19, 2375, 74,
        9250],
       [12, 'Pastrama Pie (S)', 110, 2, 220, 4, 440, 3, 330, 9, 990],
       [13, 'Sausage Pie (L)', 120, 7, 840, 2, 240, 2, 240, 11, 1320],
       [14, 'Sausage Pie (M)', 130, 28, 3640, 40, 5200, 14, 1820, 82,
        10660],
       [15, 'Sausage Pie (S)', 85, 20, 1700, 7, 595, 18, 1530, 45, 3825],
       [16, 'Tuna Pie (L)', 120, 1, 120, 1, 120, 0, 0, 2, 240],
       [17, 'Tuna Pie (M)', 100, 3, 300, 1, 100, 2, 200, 6, 600],
       [18, 'Tuna Pie (S)', 80, 1, 80, 1, 80, 0, 0, 2, 160],
       [19, 'Sea Fruits Pie ', 120, 1, 120, 0, 0, 0, 0, 1, 120],
       [20, 'Mushroom Pie (M)', 80, 0, 0, 0, 0, 1, 80, 1, 80],
       [21, 'Mushroom Pie (S)', 65, 0, 0, 1, 65, 0, 0, 1, 65],
       [22, 'Super Supreme Pie ', 110, 5, 550, 6, 660, 7, 770, 18, 1980],
       [23, 'Mix Cheese (L) ', 135, 25, 3375, 30, 4050, 21, 2835, 76,
        10260],
       [24, 'Mix Cheese (M) ', 110, 6, 660, 2, 220, 4, 440, 12, 1320],
       [25, 'Mix Cheese (S) ', 85, 10, 850, 12, 1020, 11, 935, 33, 2805],
       [26, 'Mix Meat Cheese (L) ', 125, 4, 500, 3, 375, 3, 375, 10,
        1250],
       [27, 'Mix Meat Cheese (M) ', 105, 10, 1050, 5, 525, 2, 210, 17,
        1785],
       [28, 'Mix Meat Cheese (S) ', 85, 6, 510, 5, 425, 5, 425, 16, 1360],
       [29, 'Chicken Rocket', 55, 30, 1650, 45, 2475, 18, 990, 93, 5115],
       [30, 'Sausage Rocket', 55, 10, 550, 7, 385, 4, 220, 21, 1155],
       [31, 'Hawashi alexandrain', 50, 61, 3050, 83, 4150, 58, 2900, 202,
        10100],
       [32, 'Chicken Pasta', 70, 297, 20790, 403, 28210, 196, 13720, 896,
        62720],
       [33, 'Zinger Pasta', 80, 198, 15840, 252, 20160, 135, 10800, 585,
        46800],
       [34, 'Seafood Pasta', 110, 2, 220, 2, 220, 2, 220, 6, 660],
       [35, 'Sausage Pasta', 65, 15, 975, 17, 1105, 12, 780, 44, 2860],
       [36, 'Crispy Pasta', 80, 8, 640, 20, 1600, 18, 1440, 46, 3680]],
      dtype=object)

In [ ]:
arr_firstM = df['Tot sales this month (1)'].to_numpy()
arr_secondM = df['Tot sales this month (2)'].to_numpy()
arr_thirdM = df['Tot sales this month (3)'].to_numpy()

In [ ]:
item_id= int(input())

3

In [ ]:
def cosineSimilarity(u, v):
  return np.dot(u, v) / ( norm(u) * norm(v) )

In [ ]:
df_ForthM = pd.DataFrame({
    'Tot sales this month (4) Generated': np.random.randint(1, 1800, 36),
})

In [ ]:
df_ForthM

    Tot sales this month (4) Generated
0                                  403
1                                  294
2                                  392
3                                  366
4                                  766
5                                  602
6                                 1454
7                                  716
8                                  815
9                                 1353
10                                1637
11                                 169
12                                 739
13                                 157
14                                 423
15                                1462
16                                1325
17                                 828
18                                  63
19                                1304
20                                 745
21                                 342
22                                 747
23                                 654
24                                1211
25                                 112
26                                1324
27                                 118
28                                 934
29                                  87
30                                 850
31                                 454
32                                1261
33                                 402
34                                  49
35                                1300

In [ ]:
arr_ForthM = df_ForthM.to_numpy()

In [ ]:
 a = cosineSimilarity(arr_firstM , arr_ForthM)

In [ ]:
 b = cosineSimilarity(arr_secondM , arr_ForthM)

In [ ]:

 c= cosineSimilarity(arr_thirdM , arr_ForthM)

In [ ]:
MaxSim = -9999
CosSim = a

if CosSim > MaxSim:
    MaxSim = CosSim
    pos = 'Tot sales this month (1)'
    print("Maximum similarity:",pos , MaxSim)

Maximum similarity: Tot sales this month (1) [0.36092445]

In [ ]:
CosSim = b

if CosSim > MaxSim:
    pos = 'Tot sales this month (2)'
    MaxSim = CosSim
    print("Maximum similarity:",pos, MaxSim)

In [ ]:
CosSim = c

if CosSim > MaxSim:
    pos = 'Tot sales this month (3)'
    MaxSim = CosSim
    print("Maximum similarity:",pos ,MaxSim)

Maximum similarity: Tot sales this month (3) [0.38290169]

In [ ]:
Expected_Tot_Sales = sum(arr_thirdM)
print("Expected_Tot_Sales for month (4):", Expected_Tot_Sales)

Expected_Tot_Sales for month (4): 48100